/* Base styles for the navbar, making it adaptable for all screen sizes */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
  }
  
  .navbar__button {
    background: none;
    border: none;
    color: var(--clr-white);
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Initially hidden menu to be displayed in a mobile-first approach */
  .menu {
    display: none;
    background-color: var(--clr-secondary);
    padding: 20px;
  }
  
  .menu__list {
    list-style: none;
    padding: 0;
  }
  
  .menu__item a {
    text-decoration: none;
    color: var(--clr-white);
    display: block;
    padding: 10px 0;
  }
  
  /* Modifier for an active menu */
  .menu--active {
    display: block;
  }
  
  .content {
    padding: 20px;
  }
  
  .sidebar {
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: var(--clr-light);
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar__title {
    color: var(--clr-primary);
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .sidebar__list {
    margin-bottom: 20px;
  }
  
  .sidebar__item {
    margin-bottom: 5px;
  }
  
  .sidebar__link {
    display: block;
    color: var(--clr-secondary);
    text-decoration: none; /* Removes the underline from links */
    padding: 5px 0; /* Adds some padding for easier clicking */
  }
  
  .sidebar__link:hover {
    text-decoration: underline; /* Adds a visual cue on hover */
  }
  

  /*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  @media (min-width: 650px) {

  }
  