/* Styles for toggle box image */
.toggleBox a img {
    filter: invert(0);
}

img.menu {
    display: block;
}

/* Styles for hiding menu image */
img.menu.hide {
    display: none;
}

/* Styles for showing close image */
img.close {
    display: none;
}

/* Styles for showing close image */
img.close.show {
    display: flex;
}


.design-system-content {
    display: grid;
    padding-bottom: 1rem;
    padding-top: 8rem;
    padding-left: 1rem;
}

.typography-container-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.typography-container-item>* {
    padding: 5px;
}

.active-page {
    color: var(--clr-accen-dark);
}

.sidebar-desktop {
    display: none;
}




/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1080px) {


    .sidebar-mobile {
        display: none;
    }

    .design-system-content {
        margin-left: 250px;
    }

    /* Grid layout for large screens */
    .l-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Styles for navigation on desktop */
    /* Navbar for desktop */


    a:hover, .active {
        box-shadow: 0 3px 0 0 var(--clr-accent-light) ; /*** COLOR AND THICKNESS OF THE LINE ON HOVER ***/
        padding-bottom: 1px;
        opacity: 1 ;
    }

    /* Hide toggle box on large screens */
    div.toggleBox {
        display: none;
    }

    .sidebar-desktop {

        background-color: var(--clr-accent-dark);
        display: block;
        position: fixed;
        padding-top: 8%;
        padding-left: 1%;
        width: 15rem;
        height: 100vh;
        overflow-y: auto;
        z-index: 0;

    }
}
