
/* Styles for toggle box image */
.toggleBox a img {
    filter: invert(0);
}

img.menu {
    display: block;
}

/* Styles for hiding menu image */
img.menu.hide {
    display: none;
}

/* Styles for showing close image */
img.close {
    display: none;
}

/* Styles for showing close image */
img.close.show {
    display: flex;
}


.design-system-content {
    display: grid;
    padding: 3% 3% 0 3%;
    padding-bottom: 0%;
    gap: 5%;
    margin-left: 10%;
    padding-top: 10%;
}

.typography-container-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.typography-container-item > * {
    padding: 5px;
}

.active-page {
    color: var(--clr-accen-dark);
}

/*For spacing page example divs*/
.spacing-example-div {
    min-height: 100px;
}






/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 800px) {

    


    .design-system-content {
        margin-left: 250px; 
    }

    /* Grid layout for large screens */
    .l-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Styles for navigation on desktop */
    /* Navbar for desktop */


    a:hover  {
        color: var(--clr-accen-light);
    }

    /* Hide toggle box on large screens */
    div.toggleBox {
        display: none;
    }
    .sidebar {
        position: fixed;  /* Fixes the sidebar to a specific position on the screen */
        top: 15%;           /* Aligns the top of the sidebar with the top of the viewport */
        left: 0;          /* Aligns the left of the sidebar with the left of the viewport */
        width: auto;    /* Specify the width of the sidebar */
        height: 100vh;    /* Sets the height of the sidebar to fill the viewport */
        overflow-y: auto; /* Adds a scrollbar if the content is taller than the viewport */
        z-index: 1000;    /* Ensures the sidebar is on top of other content */
    }
}

@media (min-width: 1200px) {
    /* Adjust grid layout for even larger screens */
    .l-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}