:root {
    --clr-primary: black;
    --clr-secondary: #333;
    --clr-accent: #333;
    --clr-light: #f5f5f5;
    --clr-white: white;
  }

/* CSS Reset and Border Box Fix */
*, *::before, *::after {
    box-sizing: border-box;
  }