@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  /*Colors*/

  /*Background*/
  --clr-primary-bg: #fffffe;
  --clr-secondary-bg: #55423d;
  --clr-bg-dark: #271c19;
  --clr-white: #fffffe;
  --clr-black: #191919;

  /*Heading / Button Text */
  --clr-secondary-text: #140d0b;

  /*Paragraph*/
  --clr-primary-text: #271c19;



  /*Button*/
  --clr-accent: #e78fb3;
  --clr-accent-light: #9656a1;
  --clr-accent-dark: #271c19;

  /* Gradient */
  --overlay-gradient: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

  /* Box shadow */
  --box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;


  /* Typefaces */
  --heading-font-family: 'Josefin Sans', sans-serif;
  --body-font-family: 'Montserrat', sans-serif;
  --body-font-size: 1.2rem;
  --heading-font-weight: 700;
  --body-font-weight: 400;
  --heading-line-height: 1.2;
  --body-line-height: 1.6;
  --letter-spacing: 0.5px;

  --max-container-width-desktop: 70rem;
  --max-height-desktop: 40rem;

  --button-width: 10rem;

  --max-card-height: 30rem;
}


/* CSS Reset and Border Box Fix */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--clr-secondary-bg);
}

a {
  text-decoration: none;
}

/* CSS */
.text-center {
  text-align: center;
}


/* Utility classes */



.l-w-100 {
  width: 100%;
}

.l-w-50 {
  width: 50%;
}

/* Margins */
.l-m {
  margin: 1.5rem;
}

.l-mt-1 {
  margin-top: 1.5rem;
}

.l-mb-1 {
  margin-bottom: 1.5rem;
}

.l-mr-1 {
  margin-right: 1.5rem;
}

.l-ml-1 {
  margin-left: 1.5rem;
}

.l-mx-1 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.l-my-1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Padding */

.l-p {
  padding: 1.5rem;
}

.l-pt-1 {
  padding-top: 1.5rem;
}

.l-pb-1 {
  padding-bottom: 1.5rem;
}

.l-pr-1 {
  padding-right: 1.5rem;
}

.l-pl-1 {
  padding-left: 1.5rem;
}

.l-px-1 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.l-py-1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Flex */
.l-flex {
  display: flex;
}

.l-flex-col {
  flex-direction: column;
}

.l-flex-row {
  flex-direction: row;
}

.l-justify-center {
  justify-content: center;
}

.l-align-center {
  align-items: center;
}

/* Grid */
.l-grid {
  display: grid;
}

.l-grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.l-grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}


.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}



/* Background Colors */
.u-bg-primary {
  background-color: var(--clr-primary-bg);
}

.u-bg-secondary {
  background-color: var(--clr-secondary-bg);
}

.u-bg-white {
  background-color: var(--clr-white-bg);
}

/* Text Colors */
.u-text-primary {
  color: var(--clr-primary-text);
}

.u-text-secondary {
  color: var(--clr-secondary-text);
}

/* Accent Colors */
.u-accent {
  background-color: var(--clr-accent);
}

.u-accent-light {
  background-color: var(--clr-accen-light);
}



/* Fontfaces */

/* Base font families */
.u-font-josefin-sans {
  font-family: var(--heading-font-family);
}

.u-font-montserrat {
  font-family: var(--body-font-family);
}

/* Headings common styles */
.u-heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

/* Specific heading styles */
.u-heading-1
 {
  font-size: 2rem;
  line-height: 1.8rem;
}

.u-heading-2 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.u-hero-headline {
  font-size: 3.5rem;
  line-height: 3rem;
}

/* Utility class for the body text */
.u-body-text {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: 1rem;
  line-height: 1.5rem;
}



/* Utility classes for font weights  */
.u-font-light {
  font-weight: 300;
}

.u-font-regular {
  font-weight: 400;
}

.u-font-semibold {
  font-weight: 600;
}

.u-font-bold {
  font-weight: 700;
}

/* Light and bold variants for body text */
.u-body-text-light {
  font-weight: 300;
}

.u-body-text-bold {
  font-weight: 700;
}

.hero-bg {
  background-image: url('/images/backgrounds/hero-welcome.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.explore-bg {
  background-image: var(--overlay-gradient), url('/images/backgrounds/explore-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.giftcard-bg {
  background: var(--overlay-gradient), url('/images/backgrounds/giftcard-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-bg {
  background-image: var(--overlay-gradient), url('/images/backgrounds/social-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products-bg {
  background-image: var(--overlay-gradient), url('/images/backgrounds/products-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials-bg {
  background-image: var(--overlay-gradient), url('/images/backgrounds/testimonials-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-bg {
  background-image: var(--overlay-gradient), url('/images/backgrounds/contact-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-card {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 20px 50px 0 rgba(0, 0, 0, .1);
	border-radius: 15px;
	overflow: hidden;
  transform: translateY(-5px);
	
	&:hover, &:focus-within {
		box-shadow: 0 0 0 2px var(--clr-accent-light), 0 10px 60px 0 rgba(0, 0, 0, .1);
		
	}
}

.card__image-container {
	overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_image {
  height: 15rem;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

/*----------------------------------------------------------- Navbar styles -------------------------------------------------------------------------------*/

.nav {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-accent-dark);
  position: fixed;
  z-index: 1000; 
}

.logo-container {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
}

.logo {
  margin-left: 20px;
  height: 100%;
  filter: invert(1);
}


.nav-list {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  background-color: var(--clr-accent-dark);
  float: right;
  text-align: center;
  transition: all .5s;
  overflow-y: auto; /* or overflow-y: scroll; */
}

/* Hide the scrollbar */
.nav-list::-webkit-scrollbar {
  display: none;
}


.nav-list li {
  opacity: 0;
  line-height: 30px;
  margin-bottom: 5%;
  transition: all .5s;
}

.nav-list li a {
  color: var(--clr-white);
  font-size: 20px;
  text-transform: uppercase;
}

.nav-list li a.active,
.nav-list li a:hover {

  transition: 0.5s;
}

.hamburger-btn {
  display: block;
  font-size: 30px;
  color: var(--clr-white);
  float: right;
  line-height: 75px;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

#check:checked~.nav-list {
  height: 100vh;
}

#check:checked~.nav-list li {
  opacity: 1;
}

/*--------------------------------------------------- Button -------------------------------------------------------------------------*/


.button {
  box-shadow: var(--box-shadow);
  appearance: none;
  width: var(--button-width);
  background-color: var(--clr-accent);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--clr-secondary-text);
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  background-color: var(--clr-accent-light);
  box-shadow: var(--box-shadow);
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

/*------------------------------------------------------ Form Style --------------------------------------------------------------*/



/* Input field styling */
.form-container input[type="text"] {
  padding: 15px;
  margin: 10px 0; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* Message input styling */
.form-container input[type="text"][name="exampleInput"][placeholder="Message"] {
  height: 100px; 
  padding-top: 15px; 
  padding-bottom: 15px; 
  box-shadow: var(--box-shadow);
}

/*--------------------------------------------------------- Footer ------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically for mobile */
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--clr-accent-dark);
  color: var(--clr-white);
}


/*--------------------------------------------------------- Accordin ------------------------------------------------------------*/

/* Accordion base */
.accordion-item {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease-in-out;

}

.accordion-toggle {
  text-align: left;
  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-toggle:hover {
  background-color: var(--clr-accen-light);
}

.accordion-content {
  display: none;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.accordion-icon {
  transition: transform 0.3s ease-in-out;
}

/* Icon rotation */
.accordion-icon.rotate {
  transform: rotate(180deg);
}

.section-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}



/*----------------------------------------------- Desktop view -------------------------------------------------------------------------*/



@media only screen and (min-width: 1080px) {

  .hero-p {
    text-align: left;
  }

  .hero-overlay{
    max-width: var(--max-container-width-desktop);
  }

  .hero-container {
    align-items: flex;
    flex-direction: row;

  }


  .section-combo {
    max-width: var(--max-container-width-desktop);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .hero-bg {
    height: 80vh;
  }

  .form-container-max {
    max-width: var(--max-container-width-desktop);
  }

  .form-container > input {
    max-width: 40rem;
  }

  .l-flex-row-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .accordion-item {
    flex: 1; /* Each item takes equal space */
    margin-right: 20px; /* Add some space between items */
    display: block; /* Default display */
  }

  .accordion-toggle {
    display: block; /* Display as block to take full width */
    margin: 0; /* Remove margins */
    width: 100%; /* Full width */
    cursor: default; /* No pointer cursor on desktop */
  }

  .accordion-content {
    display: block; /* Content is always visible */
  }

  .accordion-icon {
    display: none; /* Hide the icon on desktop screens */
  }
  /* Ensure the last accordion item doesn't have a right margin */
.l-flex-row-desktop .accordion-item:last-child {
  margin-right: 0;
}

/*----------------------------------------------- Desktop Nav -------------------------------------------------------------------------*/


  .nav {
    height: 100px;
  }

  .hamburger-btn {
    display: none;
  }

  .nav-list {
    position: relative;
    height: 100px;
    top: 0;
    float: right;
    text-align: right;
    margin-right: 25px;
    transition: none;
  }

  .nav-list li {
    display: inline-block;
    opacity: 1;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .max-heright-desktop {
    max-height: var(--max-height-desktop);
  }

  .nav-list li a.active {
    border: 10px solid var(--clr-accent);
    padding: 10px;
    margin-bottom: -10px;
  }


  .nav-list li a:hover {
    box-shadow: 0 10px 0 0 var(--clr-accent-light) ; /*** COLOR AND THICKNESS OF THE LINE ON HOVER ***/
 padding-bottom: 10px;
 opacity: 1 ;
  }

  footer {
    flex-direction: row;
    /* Align elements horizontally for desktop */
    justify-content: space-around;
    /* Evenly space out the elements */
    align-items: flex-start;
    /* Align items to the start of the flex container */
  }




}

